.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-wrapper {
  padding: 1rem 1.5rem;
}

.App-wrapper .App-login-btn {
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  outline: none;
  background-color: #fff;
  border: 1px solid #e91e63;
  color: #e91e63;
  transition-property: color, background-color;
  transition-duration: 400ms;
  cursor: pointer;
}

.App-wrapper .App-login-btn:hover {
  background-color: #e91e63;
  border: 1px solid #fff;
  color: #fff;

}